body {
  margin: 0;
  height: 100vh;
  background-image: url(../src/img/ai-5228064_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
  background-position: bottom center;
}

/*header section*/
.header {
  width: 100%;
  height: 10rem;
  background-color: black;
  margin: 0;
}

.headerImg {
  width: 25rem;
  height: 12rem;
  background-image: url(../src/img/robot-2701312_1920.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 40px;
}
.header h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 50px;
}

/*home page*/
.input {
  width: 50%;
  margin: auto;
}
ul {
  font-size: 30px;
  list-style: none;
}
.home a,
.home a:visited {
  color: white;
}
.fl-right {
  margin-left: 200px;
}
a,
a:hover,
a:visited {
  color: white;
  text-decoration: none;
}
.heading {
  margin-top: 80px;
}

/*robot page*/
.robot {
  margin-top: 100px;
}
.infos {
  margin-top: 80px;
}
