@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

body {
  margin: 0;
  height: 100vh;
  font-family: "VT323", monospace;
  font-size: 40px;
  background-image: url(../src/img/ai-5228064_1920.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: gray;
  background-blend-mode: luminosity;
  background-position: bottom center;
}

/*header section*/
.header {
  width: 100%;
  height: 10rem;
  background-color: black;
  margin: 0;
}

.headerImg {
  width: 25rem;
  height: 12rem;
  background-image: url(../src/img/robot-2701312_1920.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 40px;
}
.header h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 40px;
  color: white;
}
.header h1:hover {
  color: #287bff;
  font-size: 85px;
}

/*home page*/
.input {
  width: 50%;
  margin: auto;
}
.inp {
  font-size: 30px;
}
ul {
  font-size: 40px;
  list-style: none;
}
.home a,
.home a:visited {
  color: white;
}
.fl-right {
  margin-left: 200px;
}
a,
a:visited {
  color: white;
  text-decoration: none;
}
.heading {
  margin-top: 50px;
}
a:hover {
  color: #287bff;
  text-decoration: none;
}

/*robot page*/
.robot {
  margin-top: 100px;
}
.infos {
  margin-top: 20px;
}
.btn {
  font-size: 30px;
  width: 100px;
}
img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
